
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New group</title>
</head>
<body>

<form th:method="post" th:action="@{/{bankName}/addcredit (bankName=${bank.getName())}" th:object="${credit}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    
    <label for="creditLimit">Enter credit limit: </label>
    <input type="number" th:field="*{creditLimit}" id="creditLimit"/>
    
    <label for="interestRate">Enter interestRate: </label>
    <input type="number" th:field="*{interestRate}" id="interestRate"/>
    
    <br/>
    <input th:if="${credit.Id}" 
    	th:formaction="@{/{bankName}/{creditName}/edit(bankName=${bank.getName()}, creditName=${credit.getName())}"
     	type="submit" value="Update"/>
    <input th:unless="${group.groupId}" type="submit" value="Create!"/>
</form>

</body>
</html>