<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title th:text=${bank.name}>Bank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="bank">
	<div>
			<p th:text="${bank.getName}">Bank Name</p>
	</div>
    <div sec:authorize="isAuthenticated()">
			<a th:href="@{/{bankName}/edit (bankName=${bank.getName())}">EDIT</a>
	</div>
	  <table>
	      <tr>
	        <th>Название</th>
	        <th>Варианты кредитов</th>
	        <th sec:authorize="isAuthenticated()"> Изменить условия кредита</th>
	      </tr>
	      <tr>
	        <td th:text="${bank.name}">Bank Name</td>
	        <td>
			        <div th:each="credit : ${bank.credits}">
		    			<a th:href="@{/{bankName}/{creditName}(bankName=${bank.getName()}, creditName=${credit.getName())}"
		       			th:text="${credit.name}">bank</a>
					</div>
	        </td>
	        <td sec:authorize="isAuthenticated()">
			        <div th:each="credit : ${bank.credits}">
		    			<a th:href="@{/{bankName}/{creditName}/edit(bankName=${bank.getName()}, creditName=${credit.getName())}"
		       			>EDIT</a>
					</div>
			</td>
			<td>
					<div th:each="credit : ${bank.credits}">
		    			<a th:href="@{/{bankName}/{creditName}/creditoffer(bankName=${bank.getName()}, creditName=${credit.getName())}"
		       			>Кредитное предложение</a>
					</div>
			</td>
	        
	      </tr>
	    </table>
	</div>
	<div sec:authorize="isAuthenticated()">
			<a href="/">Create new credit</a>
	</div>
	
	<div sec:authorize="isAuthenticated()">
		<form th:method="POST" th:action="@{/}" th:object="${bank}">
		    <br/>
		    <input type="submit" value="DELETE"/>
		</form>
	</div>
</body>
</html>